@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


/* Styling for the entire body of the web page */
body {
    font-family: 'Poppins', sans-serif;
    background: #093028;
    background: -webkit-linear-gradient(to left, #237A57, #093028);
    background: linear-gradient(to left, #093028, #237A57);
    color: whitesmoke;
}

.pw-generator {
    margin: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 40px;
    background-color: rgba(11, 15, 13, 0.582);
    width: 25rem;
}

.pw-generator p {
    color: grey;
}

.pw-generator h2 {
    display: flex;
    justify-content: center;
}

.pw-box {
    display: flex;
    height: 50px;
    background-color: whitesmoke;
    color: black;
    border-radius: 5px;
    padding: 0px 15px;
}

.pw-generator div {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 180px;
    font-size: 18px;
    background-color: #030804;
    color: #ffffff;
    padding: 14px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 5px;
}


/* Media queries that modifies at the width of almost 500px */
@media screen and (max-width: 500px) {
    .pw-generator {
        width: 20rem;
    }

    .buttons button {
        width: 120px;
    }
}


/* Media queries that modifies at the width of almost 500px */
@media screen and (max-width: 400px) {
    .pw-generator {
        width: 17rem;
    }

    .buttons button {
        width: 100px;
        font-size: 15px;
        padding: 10px 6px;
    }
}